# Untrack LAMMPS output files in model building
#lammps_melting-*
relaxed_structure_assembled_by_H2O
*_collection
*.lammpstrj
*_trajectory.xyz
*_traj.xyz
trajectory.dcd

# Untrack CP2K output files non-essential
*_opt-1.restart
*_opt-1.restart.bak-1
*_opt-BFGS.Hessian
*_opt-RESTART.wfn
*_opt-RESTART.wfn.bak-1
*_opt-pos-1.xyz
*_aimd-1.restart
*_aimd-1.restart.bak-1
*_aimd-RESTART.wfn
*_aimd-RESTART.wfn.bak-1
*_aimd-pos-1.xyz
*_aimd-1_*.restart
aimd.out
*_aimd-vel-1.xyz
*_aimd-frc-1.xyz


# Untrack HPC output files non-essential
slurm-*.error
slurm-*.out
*.sh

# Untrack test output files for docker
docker_test/

# MACE pretrain model
# *.pt
# *.model

# CP2K optimization outputs from WHU HPC (deprecated)
2.GeoOpt_WHU-HPC_deprecated/

.DS_Store

# Force track files in regular_production_*
!5.AIMD_CP2K_WHU-HPC/regular_production_*/
!5.AIMD_CP2K_WHU-HPC/regular_production_*/**
# Re-ignore system files
5.AIMD_CP2K_WHU-HPC/regular_production_*/**/.DS_Store

# Re-ignore massive wavefunctions and outputs to prevent GitHub 100MB limit push failure
5.AIMD_CP2K_WHU-HPC/regular_production_*/**/*.wfn
5.AIMD_CP2K_WHU-HPC/regular_production_*/**/*.wfn.bak-1
5.AIMD_CP2K_WHU-HPC/regular_production_*/**/*.out
#5.AIMD_CP2K_WHU-HPC/regular_production_*/**/*.cell
#5.AIMD_CP2K_WHU-HPC/regular_production_*/**/*.ener
5.AIMD_CP2K_WHU-HPC/regular_production_*/**/*.stress
5.AIMD_CP2K_WHU-HPC/regular_production_*/**/*.restart
5.AIMD_CP2K_WHU-HPC/regular_production_*/**/*.restart.bak-1
#5.AIMD_CP2K_WHU-HPC/regular_production_*/**/*.xyz
5.AIMD_CP2K_WHU-HPC/regular_production_*/**/*-frc-1.xyz
5.AIMD_CP2K_WHU-HPC/regular_production_*/**/*-vel-1.xyz
# Retain assembled_interface.xyz
!5.AIMD_CP2K_WHU-HPC/regular_production_*/assembled_interface.xyz
